<div class="post-detail py-3 bg-light">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @post_camp.get_image(2000,2000), class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= link_to user_path(@post_camp.user) do %>
            <%= image_tag @post_camp.user.get_profile_image(120,120), class:"mt-3 rounded-circle";  %>
          <% end %>
        </div>
        <div class="col-10">
          <p class="card-title">
              <strong><i class="far fa-flag"></i><span> <%= @post_camp.title %></span></strong>
          </p>
          <p>
            <!-- タグリスト -->
            <% @post_camp_tags.each do |tag| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
              <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
            <% end %>
          </p>
          <p class="card-title">本文：<%= @post_camp.body %></p>
          <span><i class="fas fa-user"></i>By
            <%= link_to user_path(@post_camp.user), class:"text-dark" do %>
              <%= @post_camp.user.user_name %></span>
            <% end %>
          <span><%= render "public/relationships/follow_btn", user: @user %> ｜ </span>
          <span><i class="fa fa-calendar"></i> <%= @post_camp.created_at.strftime('%Y/%m/%d') %> ｜ </span>
          <span><i class="fa fa-comment"></i> <%= link_to "#{@post_camp.comments.count}", post_camp_path(@post_camp.id), class:"text-dark" %> ｜ </span>
          <span><%= render "public/favorites/favorite", post_camp: @post_camp %></span>
          <% if @post_camp.user == current_user %>
            <span> ｜ </span><%= link_to "編集", edit_post_camp_path(@post_camp), class:"text-dark" %>
            <span> ｜ </span><%= link_to "削除", post_camp_path(@post_camp), class:"text-dark", method: :delete, data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="comments card-text">
        <h5 class="mt-3">コメント <%= @post_camp.comments.count %> 件</h5>
        <% @post_camp.comments.each do |comment| %>
          <div class="media border mb-3">
            <%= image_tag comment.user.get_profile_image(60,60), class:"bd-placeholder-img align-self-center mx-3";  %>
            <div class="media-body ml-4 p-3">
              <%= comment.user.user_name %>　　<%= comment.created_at.strftime('%Y/%m/%d') %>
              <% if comment.user == current_user %>
                <%= link_to "削除", post_camp_comment_path(comment.post_camp, comment), method: :delete, class: "btn btn-danger pull-right btn-sm ml-5", data: { confirm: "本当に削除しますか？" } %>
              <% end %>
              <div class="align-center mt-2">
                <%= comment.comment %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="new-comment card-text">
        <%= form_with model:[@post_camp, @comment],local: false do |f| %>
          <div class="form-group">
            <label>コメントする</label>
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに（100文字以内）" %>
          </div>
          <%= f.submit "送信する", class:"btn mt-2 float-right", style: "background-color: #1a120b; color: #ffffff;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>