<div class="search container">
  <div class='row justify-content-center'>
    <div class='col-md-8'>
    <% search_word = @q %>
    <h2 class="mt-3">検索結果 "<%= search_word %>"</h2>
    <% if @post_camp.present? || @user.present? %>
      <table class="table border table-hover table-inverse">
        <thead>
          <tr>
            <th class='text-center align-middle'>プロフィール画像<br>／投稿画像</th>
            <th class='text-center align-middle'>ユーザー名<br>／タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% if @post_camp.present? %>
            <% @post_camp.each do |f| %>
              <tr>
                <td class='text-center align-middle'><%= image_tag f.get_image(100, 100), class: "image" %></td>
                <td class='text-center align-middle'><%= link_to f.title, post_camp_path(f.id) %></td>
              </tr>
            <% end %>
          <% end %>
          <% if @user.present? %>
            <% @user.each do |f| %>
              <tr>
                <td class='text-center align-middle'><%= image_tag f.get_profile_image(100, 100), class: "image" %></td>
                <td class='text-center align-middle'><%= link_to f.user_name, user_path(f.id) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3 class="text-center mt-5 pt-5">検索結果がありません。</h3>
    <% end %>
    </div>
  </div>
</div>