<table class='table'>
  <tr>
    <div class='text-center'><%= image_tag user.get_profile_image(150, 150) %></div>
  </tr>
  <tr>
	  <th class='text-center align-middle'>Name</th>
	  <th class='text-center align-middle'><%= user.last_name %> <%= user.first_name %></th>
  </tr>
  <tr>
	  <th class='text-center align-middle'>Mail</th>
	  <th><%= user.email %></th>
  </tr>
  <tr>
	  <th class='text-center align-middle'>User Name</th>
	  <th class='text-center align-middle'><%= user.user_name %></th>
  </tr>
  <tr>
	  <th class='text-center align-middle'>Status</th>
	  <th class='text-center align-middle'>
	    <% if user.is_deleted == false %>
        有効会員
      <% else %>
        退会済
      <% end %>
	  </th>
  </tr>
  <tr>
	  <th class='text-center align-middle'>Introduction</th>
	  <th class='text-center align-middle'><%= user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_admin_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>