<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th class='text-center'>ユーザー名</th>
      <th class='text-center'>投稿件数</th>
      <th class='text-center'>フォロー数</th>
      <th class='text-center'>フォロワー数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class='text-center align-middle'>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(70, 70) %>
          <% end %>
        </td>
        <td class='text-center align-middle'>
          <%= link_to user_path(user.id) do %>
            <%= user.user_name %>
          <% end %>
        </td>
        <td class='text-center align-middle'>
          <%= link_to user_path(user.id) do %>
            <%= user.post_camps.count %> 件
          <% end %>
        </td>
        <td class='text-center align-middle'>
          <%= link_to user_followings_path(user.id) do %>
            <%= user.followings.count %> フォロー中
          <% end %>
        </td>
        <td class='text-center align-middle'>
          <%= link_to user_followers_path(user.id) do %>
            <%= user.followers.count %> フォロワー
          <% end %>
        </td>
        <td class='text-center align-middle'><%= render "public/relationships/follow_btn", user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>