<table class='table'>
  <tr>
    <div class='text-center'><%= image_tag user.get_profile_image(150, 150) %></div>
  </tr>
  <% if user == current_user %>
    <tr>
  	  <th class='text-center align-middle'>名前</th>
  	  <th class='text-center align-middle'><%= user.last_name %> <%= user.first_name %></th>
    </tr>
    <tr>
  	  <th class='text-center align-middle'>メール<br>アドレス</th>
  	  <th><%= user.email %></th>
    </tr>
  <% end %>
  <tr>
	  <th class='text-center align-middle'>ユーザー<br>ネーム</th>
	  <th class='text-center align-middle'><%= user.user_name %></th>
  </tr>
  <tr>
	  <th class='text-center align-middle'>紹介文</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th class='text-center align-middle'>follows</th>
    <th class='text-center align-middle'>
      <%= link_to user_followings_path(user.id) do %>
        <%= user.followings.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th class='text-center align-middle'>followers</th>
    <th class='text-center align-middle'>
      <%= link_to user_followers_path(user.id) do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <% if current_user != user %>
    <div class='ml-5 pl-5'>
      <%= render "public/relationships/follow_btn", user: user %>
    </div>
  <% else %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>